

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Exo", sans-serif;
}
.App {
    background: linear-gradient(50deg, #004AD3 15%, #00D320 100%);
    min-height: 100vh;
}